:root{
    --dark-desaturated-blue:hsl(238,29%,16%);
    --soft-red:hsl(14,88%,65%);

    --soft-violet:hsl(273, 75%, 66%);
    --soft-blue:hsl(240, 73%, 65%);

    --very-dark-grayish-blue:hsl(237,12%,33%);
    --dark-grayish-blue:hsl(240,6%,50%);

    --light-grayish-blue:hsl(240,5%,91%);
}
body{
    font-family: 'Kumbh Sans';
    font-size: 12px;
    margin: 0;
    background: linear-gradient(180deg, var(--soft-violet) 0%, var(--soft-blue) 100%);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin:0 24px;
    background-color: white;
    border-radius: 1em;
    padding-bottom: 28px;
    margin-top: 40px;
}


.card-header{
    margin-top: -8.9em;
}
.header-illustration-box{
    display: none;
}
.header-illustration-woman{
    background-image: url("../images/bg-pattern-mobile.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 40px 0;
}
.illustration-woman{
    background-position-x:center;
    width: 236.85px;
}
.card-body-title{
    text-align: center;
    color: var(--dark-desaturated-blue) ;
}
.element{
    padding: 20px 2em;
    border-bottom: 1px solid var(--light-grayish-blue);
}
.element-question{
    display: flex;
    justify-content: space-between;
}
.element-question p{
    margin: 0;
    color: var(--very-dark-grayish-blue);
}
.element-question>label{
    transition: all 0.25s ease-out;
}
.arrow-down{
    background-image: url("../images/icon-arrow-down.svg");
    color: var(--soft-red);
    width: 10px;
    height: 7px;
    display: inline-block;
    cursor: pointer;
}
.element-content{
    max-height: 0px;
    overflow: hidden;
    transition: all 0.25s ease-out;
    color: var(--dark-grayish-blue);
}
.toggle{
    display: none;
}
.toggle:checked +.element-question+ .element-content  {
    max-height: max-content;
    margin-top: 16px;
}
 .toggle:checked + .element-question>label {
    transform: rotate(180deg);
}
.toggle:checked + .element-question{
    font-weight: 700;
}